@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.backgroundImage4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/bgg.jpg');  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundImage1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/tshirt.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundImage3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/brand2.webp');  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundImage2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/brand.webp');  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#nv{
  background-color: black;
  opacity: 0.4;
}

#nv2 {
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  z-index: 10; /* Layering below #nv3 */
}

#nv3 {
  background-color: white; /* Fully opaque white background */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: To make the edges rounded */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: To add a subtle shadow */
  z-index: 20; /* Ensure it is above #nv2 */
}

#main{
  width:100%;
  top: 0;
  left: 0;
}

/* Custom scrollbar styles resembling iPhone Chrome */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Invisible track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Subtle thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darker on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
